<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <title>SeaChat</title>
</head>
<body style="background: url('https://images.alphacoders.com/602/thumb-1920-602878.jpg');">
</body>
</html>