<!DOCTYPE html>
<html lang="en" ng-app='seachat' ng-cloak> 
<head>
    <meta charset="UTF-8" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>SeaChat</title>
    <link rel="stylesheet" type="text/css" href="../../public/style/index.css">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
        RoAdmin
      </div>
      <!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">Giriş Yap</p>
    
        <form action="/authorization/login" method="post">
          <div class="form-group has-feedback">
            <input type="text" class="form-control" name="email" placeholder="E-Posta" required>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input type="password" class="form-control" name="password" placeholder="Şifre" required>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <% if (code === 0) { %>
            <div class="form-group has-feedback">
              <p class="text-danger">Kullanıcı Bulunamadı</p>
            </div>
          <% } 
          else if (code === 2) { %>
            <div class="form-group has-feedback">
              <p class="text-danger">Hesabınız aktif değildir. Lütfen iletişim kurun.</p>
            </div>
          <% } %>
          <div class="row">
            <div class="col-xs-4">
              <button type="submit" class="btn btn-primary btn-block btn-flat">Giriş Yap</button>
            </div>
            <!-- /.col -->
          </div>
        </form>
    
      </div>
      <!-- /.login-box-body -->
    </div>
    <div ng-controller='indexController'>
        <div class="modal">
            <div class="modal__inner">
                <div class="modal__header">
                    <h2>Welcome, please login.</h2>
                </div>
                <div class="modal__footer">
                    <a href="/auth/google"><i class="fa fa-google-plus" aria-hidden="true"></i>Login with Google+</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<!--AngularJs from Bower-->
<script src="../../bower_components/angular/angular.min.js"></script>

<!--MainJs from public/js-->
<script src="../../public/js/main.js"></script>

<!--Client side indexController-->
<script src="../../public/js/controllers/index-controller.js"></script>





